*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fredoka One', cursive;
}
.box{
    max-width: 1200px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.navigationbar{
    display: flex;
    align-items: top;
    padding: 20px;
}
.logo img{
    padding: 2px;
}
.header{
    background: radial-gradient(rgb(252, 252, 252),#9dcff3);
}
.body{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
h3{
  color: rgb(132, 209, 247);
  text-transform: uppercase;
}
.sub-body{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
p{
    color: rgb(24, 24, 24);
}
.sub-body1{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
p{
    color: rgb(24, 24, 24);
}
.img{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.requirment{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
h4{
    color: rgb(4, 116, 171);
    text-transform: uppercase;
  }
